<figure id="container" class="img-fluid">
    <img src="./../../../assets/imgs/panel.png"  />  
    <figcaption id="cap1"> Denuncie</figcaption>
    <figcaption id="cap2"> Informe-se </figcaption>
    <figcaption id="cap3"> Proteja-se </figcaption>
  </figure>



<div class="container mt-5">

  <div class="row">
    <div class="col text-center">
      <img src="./../../../assets/imgs/cel.png" class="img-fluid imgCel" alt="">
    </div>
    <div class="col">
        <div >
          <h3 class="tituloHome"> Segurança na palma da mão </h3>
        </div>
      
        <div class="conteudo">
          <p> 
              Pense se existisse uma ferramenta que notificasse você toda vez que algum crime ocorrer em seu bairro. 
              Roubos, furtos ou delitos. </p> 
          <p> Pense também, que você pode avisar seus vizinhos sempre que for vítima de um crime ou testemunha de um. </p>
          <p> O NeighboutBot viabiliza tudo isso! Criando uma rede de cooperação entre vizinhos. </p>
          <p> Através do seu WhatsApp, avise sobre ocorrências da sua região 
              e seja avisado quando algo estranho ocorrer. </p>
          <p> Simples, seguro e objetivo. </p>
            
        </div>  
    </div>
  </div>
</div>






